:root {
    --primary-font: 'Roboto',
        sans-serif;
    --secondary-font: 'Raleway',
        sans-serif;
    --text-color: #2E2F42;
    --paragraf-color: #434455;
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
body {
font-family: var(--primary-font);
color: var(--text-color);
}

/*-- Header--*/
.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid red;
    margin: 0 auto;
}
.logo-web {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: #4D5AE5;
    }
.studio {
    color: var(--text-color);
    }
.studio-footer {
    color: #F4F4FD;
    
}

.menu-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color:  var(--text-color);
} 
.mail-studio, .phone-number {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*--/Header--*/
/*--Hero--*/
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
}
.title {
    display: none;
}
.main-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    /*color: #FFFFFF;*/
    margin-bottom: 48px;
} 
.modal-btn {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    display: flex;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #4D5AE5;
}  
.modal-btn:hover,
.modal-btn:focus {
    background: #404BBF;
    color: #FFFFFF;
}
.qual {
    padding-top: 120px;
    padding-bottom: 120px;
}
.quality {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.text-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraf-color);
}
.work {
    padding-bottom: 120px;
}
.subtitle {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.subtitle-list {
    padding-bottom: 120px;
}
.our-team {
    padding-top: 120px;
    padding-bottom: 120px;
}
.name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 32px;
    margin-bottom: 8px;
    
}

.subname {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraf-color);
    
}
/*--/Hero--*/
/*--Footer--*/
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.paragraf {
    color: #E7E9FC;
    margin-top: 16px;
    
}
/*--/Footer--*/
